
<div class="row">
  <div class="large-12 column">
    <h1 class="title">
      <%= @post.title %> 
    </h1>

    <p class="date">
      Submitted <%= time_ago_in_words(@post.created_at) %> Ago        
    </p>

    <p class="body">
      <%= @post.body %>
    </p>

    <p class="all_tags">
      # <%= @post.all_tags %>
    </p>

    <p class="pic">
      <%= image_tag(@post.pic.url) %>
    </p>

    <%= link_to 'Edit', edit_post_path(post), class: "button round secondary small"  %> 
    
    <strong> Comments (<%= @post.comments.size %>):</strong>
    <div class="container">
      <%= form_for([@post, @comment]) do |f| %>
      <%= f.text_area :body %> Comment <br>
      <%= f.text_field :author_name %> Name <br>
      <%= f.text_field :author_email %> Email address <br>
      <%= f.submit %>
      <% end %>

      <% @post.comments.each do |comment| %>
      <p><%= comment.body %> Comments by :
         <%= comment.author_name %> Email :
         <%= comment.author_email %></p>
        <% end %>
      </p>

      <%= link_to 'Home', posts_path %>
    </div>

    <footer>
      <div class="container">
       <p>&copy; a D2 joint 2015</p>
     </div>
   </footer>
