
<div class="row">
  <div class="large-12 column">
    <h1 class="title">
      <%= @post.title %> 
    </h1>

    <p class="date">
      Submitted <%= time_ago_in_words(@post.created_at) %> ago        
    </p>

    <p class="body">
      <%= @post.body %>
    </p>

    <p class="all_tags">
      # <%= @post.all_tags %>
    </p>

    <p class="pic">
      <%= image_tag(@post.pic.url) %>
    </p>

    <strong> Comments (<%= @post.comments.size %>):</strong>
    <div id="comment_list">
      <% @post.comments.each do |comment| %>
      <%= render comment %>
      <% end %>      
    </div>
    
    <div class="container">
      <%= form_for([@post, @comment]) do |f| %>
      Title: <%= f.text_field :title %><br>
      Name: <%= f.text_field :author_name %><br>
      Email address: <%= f.text_field :author_email %><br>
      Comment: <%= f.text_area :body %><br>
      <%= f.submit class: "button round secondary small" %>
      <% end %>
    </div>

    <%= link_to 'All Posts', posts_path, class: "button round secondary small" %>
