
<div class="row">
  <div class="large-12 column">
    <h1 class="title">
      <%= @post.title %> 
    </h1>

    <p class="date">
    Submitted <%= time_ago_in_words(@post.created_at) %> ago        
    </p>

    <p class="body">
      <%= @post.body %>
    </p>

    <p class="all_tags">
      # <%= @post.all_tags %>
    </p>

    <p class="pic">
      <%= image_tag(@post.pic.url) %>
    </p>

    <% if user_signed_in? %>
    <%= link_to 'Edit', edit_post_path, class: "button round secondary small"  %> 
    <%= link_to 'Posts', posts_path, class: "button round secondary small" %>
    <% end %>

    <strong> Comments (<%= @post.comments.size %>):</strong>
    <div class="container">
      <%= form_for([@post, @comment]) do |f| %>
      Name: <%= f.text_field :author_name %><br>
      Email address: <%= f.text_field :author_email %><br>
      Comment: <%= f.text_area :body %><br>
      <%= f.submit class: "button round secondary small" %>
      <% end %>

      <% @post.comments.each do |comment| %>
      <p> Comments by: <%= comment.author_name %> 
       Email: <%= comment.author_email %>
       <%= comment.body %>
     </p>
     <% end %>
   </p>
 </div>

 
